<!DOCTYPE html>
<html lang="en">
  <!--Header: Intro Content/Page Setup-->
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Study-Ags</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <link rel="stylesheet" href="'./style.css">

  <!--Main Body-->


  <body>

    <style>
      html {
        background-image: url("bg.png");
        
      }
    </style>
  

    <div class="navbar">
      <a class="active" href="#home">
    
        <img src="tamu_logo.png" alt="TAMU Top Nav Logo" width="50" height="45">
      </a>
      <a href="#news">Upload</a>
      <a href="#contact">Contact</a>
      <a href="#about">About</a>
    </div>

    <!--Styles the Top Navigation Bar-->
    <style>
      .navbar {
        background-color: #deb887
      }

      .navbar a {
        float: left;
        text-align: center;
        color: #000000;
        font-size: 20px;
        padding: 13px 20px;
        font-family:'Comic Sans MS', 'Comic Sans', cursive;
      }
    </style>


    <main>



    
      <!--Navigation Bar -->


      <h1>Welcome to Study Ags!</h1>  
      <h3>Please drag and drop your file!</h3>

      <img src="tamu_logo.png" alt="TAMU Logo" width="100" height="100">


      <!--Creates File Upload Button-->
      <div class="file is-warning is-light">
        <label class="file-label">
          <input class="file-input" type="file" name="resume" />
          <span class="file-cta">
            <span class="file-label"> Or Upload File Here! </span>
          </span>
        </label>
      </div>

    </main>
  </body>

</html>