<!DOCTYPE html>
<html lang="en">
  <!--Header: Intro Content/Page Setup-->
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Website</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
  </head>

  <!--Main Body-->
  <body>
    <main>
        <h1>Welcome to Study Ags!</h1>  
        <h2>Please drag and drop your file!</h2>
    </main>
    <img src="tamu_logo.png" alt="TAMU Logo" width="500" height="600">
     
  </body>
</html>